#head-bg {
  background-image: url(../images/bg/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolio-section{
  background-color: #f0ecec;
}
.img-round {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid goldenrod;
  border-radius: 65px;
  height: 80px;
  width: 80px;
}
.last-box{
  border-radius: 100px;
  height: 180px;
  width: 180px;
  background-color: goldenrod;
}
.amazing-section{
  background-color: #eeecec;
}

